/* Container */
.container {
  display: flex; /* the contents embedded in this will sit side-by-side */
  align-items: center; /* aligns the items to the center of the container, all on the same line*/
  justify-content: space-between;
  position: relative; 
  padding: 16px;
  background: white; 
  border-radius: 0px 0px 0px 0px; 
  box-shadow: 0px 0px 1px #171a1f0d, 0px 0px 2px #171a1f14; /* shadow-xs */
}

.peerCheck{
    color: #5E3023;
    font-size: 2rem;
    position: relative;
    left: 1rem;
    font-family: "Arizonia", cursive;
    font-weight: 400;
    font-style: normal;
       
    /* Smooth transitions for all properties */
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
/* 
  cubic-bezier(0.4, 0, 0.2, 1)
  → Controls how the transition speeds up and slows down.
  → This one starts fast and ends smoothly for a natural feel.
*/
}

.nav-items{
  /* using flex + gap to evenly space the elements in anchor */
  display: flex;
  gap: 50px;
}
.nav-item{
  border: none; 
  text-decoration: none;
  color: #C08552;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
/* 
  cubic-bezier(0.4, 0, 0.2, 1)
  → Controls how the transition speeds up and slows down.
  → This one starts fast and ends smoothly for a natural feel.
*/
}
.nav-item:hover{
  color: #5E3023; /* black */
  cursor: pointer;
}

.sign-up-button{
  color: #C08552;
  /* using flex + gap to evenly space the elements in anchor */
  display: flex;
  gap: 20px;
}
/* Button */
.login {
  top: 12px; 
  left: 1098px; 
  width: 76px; 
  height: 40px; 
  padding: 0 12px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  color: #C08552; 
  background: #00000000; /* transparent */
  text-decoration: none;
  opacity: 1; 
  border: none; 
  border-radius: 16px; 
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

}
/* Hover */
.login:hover {
  color: #5E3023; /* neutral-900 */
  background: #00000000; /* black */
  padding: 0rem 1rem;
  cursor: pointer;
}

.sign-up{
  top: 12px; 
  left: 1182px; 
  width: 105.5625px; 
  height: 40px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Nunito; 
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 500; 
  color: #F3E9DC; /* cream */
  background: #5E3023FF; 
  text-decoration: none;

  opacity: 1; 
  border: none; 
  border-radius: 9999px; 
  /* Smooth transitions for all properties */
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
/* Hover */
.sign-up:hover {
  color: #F3E9DC; /* white */
  background: #3E1F17FF; 
  padding: 0rem .5rem; /* Consistent padding */
  opacity: 0.9; /* Better opacity for readability */
  border: 1px solid #5E3023; 
  border-radius: 9999px; 
  cursor: pointer;
}
